@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
/*   color variables */
/*   border radius */
*, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        font-family: 'Cabin', sans-serif;
      }
      .nav {
        position: fixed;
        width: 100vw;
        z-index: 1;
        color: white;
        font-family: 'Cabin', sans-serif;
        background-color: #ffffff0e;
      }
      .nav__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1px;
        font-size: 14px;
        font-family: 'Cabin', sans-serif;
        margin: 0.1rem 0.5rem;
      }
      .nav__listlogo {
        list-style: none;
        margin-right: auto;
        cursor: pointer;
      }
      .nav__listlogo img {
        width: 6.6rem;
        top: 10%;
        transition: fill 250ms ease-in;
      }
      .nav__listlogo svg:hover, .nav__listlogo svg:focus {
        fill: #f06292;
      }
      .nav__listitem {
        list-style: none;
        font-family: 'Cabin', sans-serif;
        font-weight: normal;
        position: relative;
        letter-spacing: 1px;
        padding: 0.5rem 0.4rem;
        cursor: pointer;
      }
      .nav__listitem::after {
        content: "";
        width: 0;
        height: 0.15rem;
        border-radius: 0.2rem;
        font-family: 'Cabin', sans-serif;
        position: absolute;
        left: 0.3rem;
        bottom: 0.5rem;
        background-color: #f06292;
        transition: width 200ms ease-in;
      }
      .nav__listitem:hover::after, .nav__listitem:focus::after {
        width: 90%;
      }
      .nav__listitem:hover ul, .nav__listitem:focus ul {
        opacity: 1;
        visibility: visible;
      }
      .nav__listitemdrop {
        position: absolute;
        top: 2.4rem;
        left: -1rem;
        background-color: rgb(255, 255, 255);
        border-radius: 0.2rem;
        width: 10rem;
        padding: 0.2rem;
        color: #010101;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 0.01rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 200ms ease-in-out;
      }
      .nav__listitemdrop li {
        list-style: none;
        padding: 0.1rem 1.2rem;
        border-radius: 0.2rem;
        transition: background-color 200ms ease-in-out;
      }
      .nav__listitemdrop li:hover, .nav__listitemdrop li:focus {
        background-color: #2f9b77b6;
      }
      


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 0;
	width: 100%;
	height: calc(var(--index) * 10);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 100;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #00ccff;
}
.layers__title {
	font-size: calc(var(--index) * 2.2);
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) / 1.175);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}
